.centrar-verticalmente{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    height: 100%;
      
}
.centrar-horizontal{
    display: flex;
    align-items: center;
    justify-content: flex-center;
    width: 80%;
}
.fondo{
    background-color: rgb(204, 218, 224);
}
.fondo-titulos{
    background-color: rgba(229, 229, 229, 0.765);
}
small{
    font-size: 0.8em;
}