.nav-item a{
    color: black;
}
.nav-item a:hover{
background-color: rgb(0, 0, 0);
color: white;
}


.boton_flotante{
    position: fixed; 
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 30px 30px;
    border-radius: 50px;
    font-size: 40px;
    font-weight:bold;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: transform 0.2s, box-shadow 0.2s; /* Animación */
        
}
.boton_flotante:hover{
    transform: scale(1.1); /* Hace el botón un poco más grande */
    background-color: white;
    color: black;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}


/* el boton de regresar con el color de pabsa */
.pabsa-btn{
    background-color: #FF5733;
    color: white;
    font-weight: bold;
  }
/* el boton de regresar con el color de pabsa */



.centrar-verticalmente{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    height: 100%;
      
}
.centrar-horizontal{
    display: flex;
    align-items: center;
    justify-content: flex-center;
    width: 100%;
}
.fondo{
    background-color: rgb(204, 218, 224);
}
/* .fondo-titulos{
    background-color: rgba(229, 229, 229);
} */
small{
    font-size: 0.8em;
}

.sombra{
    box-shadow: 10px 10px 10px 10px rgba(0.3, 0.3, 0.3, 0.3);
}
body{
    background-image: url(../img/fondo.jpg) ;
    transition: 20s;
    /* background-size: cover; */
    background-repeat: repeat;
    padding: 0;
}


.area-a-imprimir {
    display: block; /* Asegura que el área sea visible durante la impresión */
    width: 100%;
    margin: 0;
    padding: 0;
}

.centrar-verticalmente{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.menu{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resizeable-div {
    transition: all 0.3s ease;
    background-color: white;
}

/* Estilo cuando el mouse pasa por encima */
.resizeable-div:hover {
    transform: scale(1.2); /* Hace el div 20% más grande */
    background: url('../img/click.mp3') no-repeat;
    background-color: white;
}


.resizeable-table{
    transition: all 0.3s ease;
    background-color: white;
}
.resizeable-table:hover{
    background-color: #e9e7e7;
    transform: scale(1.01); /* Hace el div 20% más grande */
}

a{
    text-decoration: none;
    color: black;
}
.tiempo{
    transition: all 0.3s ease;
}

.fotos{
    cursor: pointer;
}


/* Estilos personalizados */
.table-coqueta {
  background-color: #f8f9fa; /* Fondo gris claro */
}

.table-coqueta th,
.table-coqueta td {
  border-top: none; /* Eliminar la línea superior de las celdas */
}

.table-coqueta th {
  border-bottom: 2px solid #e9ecef; /* Línea inferior */
}

.table-coqueta tbody tr:hover {
  background-color: #e2e6ea; /* Cambio de color al pasar el ratón sobre la fila */
}

.scroll-tabla{
    max-height: 200px;
    overflow-y: auto;
}



/* imprimiendo hoja */
@media print {

    body{
        background: none !important;
    }

  }


  #formloader{
    margin-top: 20px;
    text-align: center;
  }

  .form-sending{
    opacity: 0.9;
    pointer-events: none;
  }


